<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../../content/site.css">
        <link rel="stylesheet" href="../../../content/portal.css">
        <link rel="stylesheet" href="demo.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Navy Digital</title>

</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="../../../index.html" class="brand-logo">Navy Digital</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
        </div>
    </nav>


<div class="container-fluid">
    <div class="row">

           
<section class="timeline">
        <ul>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
          <li>
            <div>
            </div>
          </li>
        </ul>
      </section>
      
      
    
    </div>
</div>


<script>
function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

var items = document.querySelectorAll(".timeline li");
 
 // code for the isElementInViewport function
  
 function callbackFunc() {
   for (var i = 0; i < items.length; i++) {
     if (isElementInViewport(items[i])) {
       items[i].classList.add("in-view");
     }
   }
 }
  
 window.addEventListener("load", callbackFunc);
 window.addEventListener("scroll", callbackFunc);
</script>
</body>
</html>