<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">External </h3>

                        <div class="main_para_node">
                            <p class="main_para">Browsers support three different ways of adding JavaScript to your page, and these ways should already be familiar to you because they are the same as CSS.

                                    In our first lesson, we saw how to add internal JavaScript to our page, but you can also add external JavaScript, or inline it as well.You can include any external JavaScript file (a file with the .js extension) by giving the script tag a src attribute.

                                    This is the same process as including an external CSS file. The value of src is just the path to the file you want to include. This path can be both relative, like this: or absolute, like this: Place your script tag right before the closing body tag, and you're good to go!

                                    Here's an example:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="row">
            <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Inline </h3>
    
                            <div class="main_para_node">
                                <p class="main_para">You can also embed JavaScript inline, for example when it comes to handling events, which we'll get to later in this class.

                                        While not important to know as of now, here is an example of it:</p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph"></p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
            </div>
        </div>


            <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Console </h3>
    
                            <div class="main_para_node">
                                <p class="main_para">It is important to be aware that your browser can run JavaScript via its built-in console. This allows you to go through most of this class without needing to edit an HTML file.

                                        To access your console on Chrome (and most browsers in general), right-click on the page, and select Inspect.</p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph">What you see now is your Developer Tools window. From here you can do many cool things such as monitor how much data has been transferred between you and the server, how long that has taken, and adjust CSS styles on the fly. However, what we are interested in right now is getting to the console. To do so select the Console tab at the top.
                                        Once selected, you can write and execute JavaScript right away, for example like printing output using console.log().</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>




             <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Comments </h3>
    
                            <div class="main_para_node">
                                <p class="main_para">Leaving comments (basically text inside a JavaScript file that the browser ignores) in JavaSript is pretty straight forward.</p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph"></p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>



             <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Single Line Comments </h3>
    
                            <div class="main_para_node">
                                <p class="main_para">To add a single line comment, you just prepend what you want as a comment with two slashes, like this:</p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph"></p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>




             <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Multiple  Line Comments </h3>
    
                            <div class="main_para_node">
                                <p class="main_para">When you need your comments to span multiple lines, simply place your comment after /* and before */. Everything that gets put inside of those two will be ignored by the browser.</p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph">Now that you can add scripts to your page, access the console, and leave comments, let's learn how to declare variables in JavaScript!</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>



       


       
        

</div>
</div><!--End of Container-->
<script></script>
</body>
</html>