<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Red, Green, Blue Value</h3>

                        <div class="main_para_node">
                            <p class="main_para">So far we have seen how to apply the colors red, blue, and green, but there are many other ways to specify a color other than by their names.This format is probably the easiest to understand because all you have to do is specify what proportion of each color you want.

                                You can either go percentage-based, meaning 0% for none and 100% for all, or you can go byte-based, meaning 0 is for none and 255 is for all.
                                
                                For example, if you wanted full-blown blue as your page's background color, you would set red and green to 0, but leave the last value at max, like so:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        

        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Hexadecimal Value</h3>

                        <div class="main_para_node">
                            <p class="main_para">Alternatively, you can use a color's hex value. To declare a hex value, you first start with a hash symbol, followed by six digits in base-16.

                                In base-16, the lowest digit is 0 and the highest is F, where each color is given two digits each. With hex values, if you wanted full-blown green, it would look like this:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Hue, Saturation, Lightness Value</h3>

                        <div class="main_para_node">
                            <p class="main_para">The final way to declare a color is to specify its hue, saturation and lightness. If you've ever used a color wheel:You can think of the hue as the degree, 0 to 360, on that wheel. On the wheel, 0 degrees is red, 120 degrees is green and 240 degrees is blue.

                                The saturation is a percentage describing how much color there should be. 0% would be a shade of gray whereas 100% is the full color.
                                
                                The lightness is another percentage describing how light or dark the color should be, with 0% being black and 100% being white.
                                
                                Here is an example of light green:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Alpha Transparency</h3>

                        <div class="main_para_node">
                            <p class="main_para">CSS allows you to define colors that have an alpha, which basically means how transparent the color will be.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Red, Green, Blue, Alpha Value</h3>

                        <div class="main_para_node">
                            <p class="main_para">Instead of three numbers defining how much red, green and blue is in the color, you now can use a fourth number to define the alpha, like so:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">The alpha is a value between 0 (entirely opaque) and 1 (entirely transparent), so 0.5 is equivalent to 50%.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

       




</div>
</div><!--End of Container-->
<script></script>
</body>
</html>