<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Comments</h3>

                        <div class="main_para_node">
                            <p class="main_para">As you might imagine, CSS offers plenty of ways to change the look and feel of any text displayed on your screen. Let's take a look at all these ways. While technically not part of styling text, it is useful to know how to write comments in CSS. The browser will ignore any text that is commented out, even if it is otherwise valid CSS.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Single Line Comments</h3>

                        <div class="main_para_node">
                            <p class="main_para">For single line comments, just prepend your comment with /* and append with */, like so:
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Multiple Line Comments</h3>

                        <div class="main_para_node">
                            <p class="main_para">For comments spanning multiple lines, simply do the same as before and prepend the comment with /* and append with */. Everything in between that will be commented out and ignored.

                                Here's an example:
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">Now that we got comments out of the way, back to styling text!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Font Family</h3>

                        <div class="main_para_node">
                            <p class="main_para">To change the font that is used to render text, you specify it using the font-family property. If you want to use Times New Roman, it looks like this: CSS allows you to specify fallback fonts in case your user did not have the font you originally specified. For example, if you wanted to use the Arial font followed by a serif font as a backup, it would look like this: Here is a list of fonts that are generally deemed safe to use on the web, also known as web safe fonts:

                                Arial
                                Helvetica
                                Times New Roman
                                Times
                                Courier New
                                Courier
                                Verdana
                                Georgia
                                Palatino
                                Garamond
                                Bookman
                                Comic Sans MS
                                Trebuchet MS
                                Arial Black
                                Impact
                            
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">Now that we got comments out of the way, back to styling text!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Font Weight</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                You can give fonts weight using the font-weight property. The following is a list of all the valid values for a font's weight.

                                100
                                200
                                300
                                400 or normal
                                500
                                600
                                700 or bold
                                800
                                900
                            
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Font Style</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                Your text can be rendered with a certain style if you change the font-style property. While you usually want it set to normal, you also have two additional values, italic and oblique.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Transform</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                You can use text-transform to change the cases of the text. This property has four values:

                                capitalize: This capitalizes the first letter in every word.
                                uppercase: This capitalizes every letter.
                                lowercase: This lowercases every letter.
                                none: This applies no effect to the text.
                            
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Decoration</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                You can use text-transform to change the decoration of the text. This property also has four values:

                                underline: This adds a line under the text.
                                overline: This adds a line over the text.
                                line-through: This puts a line directly through the text.
                                none: This removes any decoration effects.
                            
                            
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Decoration Style</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                In addition, you can also apply a style to your text decoration. The values for text-decoration-style can be found below:

                                solid: This is the default.
                                wavy: A wavy line.
                                double: Two solid lines.
                                dotted: A dotted line.
                                dashed: A dashed line.
                            
                                If you apply these styles:    
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Shadows</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                You can apply a shadow effect to text by using the text-shadow property. To declare it, you need to give it two values with an optional two more.

The first and second value is the horizontal and vertical offset from the text that you want the shadow.

The third and fourth optional values is the blur radius and the color of the shadow. Without a color, it will render as the same color as the text, and without a blur radius, it will be just as sharp as the text.  
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Spacing</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                There are three main ways to control the spacing around and between text.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Line Height</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                When you want to change the height of the lines, use the line-height property. Since this adjusts the height of a line of text, when lines are stacked, this basically increases or decreases the spacing between those lines.
                                The value will be a percentage, a length in any unit, or normal.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Letter Spacing</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                If you want to change how much space is between individual letters, use the letter-spacing property.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Word Spacing</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                Word spacing is similar to letter spacing, except that the space you're adjusting is between the words instead of the letters. You declare this with the word-spacing property.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Layout</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                When it comes to basic layout of text, you have two properties at your disposal.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Alignment</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                You can align text inside an element to the left, right or center, by using the text-align property.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        

        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text Indentation</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                Additionally, you may indent the first line of a paragraph by any specified length you want by using the text-indent property, like so:
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">That's pretty much it for working with fonts and styling text in CSS. In our next one, we'll dive into everything regarding backgrounds!
                                        Resources</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
        
        

</div>
</div><!--End of Container-->
<script></script>
</body>
</html>