<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Content</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                    The CSS box model is a very important concept to grasp. It explains a couple of terms that this lesson will dive into more specifically, like padding, border, and margin.

                                    Here is a nice diagram of the CSS box model: You can consider every HTML element as just a box. Inside that box, basically everything in between tags, is considered content.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Width and Height</h3>
    
                            <div class="main_para_node">
                                <p class="main_para">
                                        You can give an element with content a custom width and height by using the width and height CSS properties.
                                        Here's an example:
                                </p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>               
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph">The background color was added so that you can clearly see the boundaries of the newly-expanded element.</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>



            <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Minimum Width and Height</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            Give an element a minimum width and height using min-width and min-height to ensure that the element is at least a certain size.
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">Notice how even though we set the width and height to be 20rem and 10rem respectively, the element is still larger because the minimum values we gave to the width and height exceed those values.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>




                   <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Maximum Width and Height</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            Setting the maximum width and height of an element is just as easy as setting the minimum. Use max-width and max-height and give it a value.
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">As you would expect, the element does not get larger than the specified maximum, even if another CSS rule sets it higher.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>





                 <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Padding</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            Padding is space added between the content and the border of its own box. You can declare it using the padding property, and giving it a length.

                                            Here's an example:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">As the image shows, the element that got some padding appears larger than the element that got zero padding. The blue background helps to illustrate where the element's borders are.

                                                    You can also set padding on each side individually, by using padding-top, padding-right, padding-bottom, or padding-left.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>




                 <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Border</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            At the edge of the content plus the padding you defined is the start of the element's border. By default, an element will not have a border, but you can define one with the border property.

                                            The syntax for it is the width or thickness of the border, the style, and then the color. For example, if you wanted a blue, dashed, 2 pixels thick border, it would look like this:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">As the image shows, the element that got some padding appears larger than the element that got zero padding. The blue background helps to illustrate where the element's borders are.

                                                    You can also set padding on each side individually, by using padding-top, padding-right, padding-bottom, or padding-left.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>





                  <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Border Radius</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            Since we're on borders, it's a perfect time to slip in a pretty cool property. You can round off the borders of your element using border-radius, like this:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">The value for this property is any length of your choosing.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>



             <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Box Shadow</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            This is another cool property somewhat related to boxes, and that is adding a shadow to them using box-shadow.

                                            For the most common uses of this property, it takes five values, the horizontal offset, the vertical offset, the blur radius, the size of the shadow and finally, the color.
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">The value for this property is any length of your choosing.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>



              <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Margin</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            The last major piece to understanding the CSS box model is margin. Unlike padding, which was spacing inside the element's border, margin is spacing outside the element's border, and you declare it using margin.
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">While a difficult concept to illustrate, it should be clear to see that the more margin on the left side of the element, the further away it goes, despite the fact that all the elements have the same amount of padding.

                                                    This is because, again, padding affects only inside the element's border while margin affects what is outside it.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>
    
    
    
  <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Box Sizing</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            The box-sizing property exists to allow you to control how an element's width and height is calculated. It only has two values so this one is pretty simple to demonstration.

                                            The first value is content-box. Luckily for you, this is actually the default value. This value makes it so that the width and height is only determined by the content itself. Any padding or border is extra and makes the element bigger.
                                            
                                            The second value is border-box. This does the opposite effect. All additional padding and border are now included in the width and height. This means that if you constrain an element to a specific size, any added padding and border will simply make the remaining content space smaller to maintain that overall total size.
                                            
                                            Let's look at a simple example of the same box with two different sizes because of different box-sizing values. For this markup: We apply these styles:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>               
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">Simply put, because the red square applies the padding and border on top of it's normal width and height, it appears way bigger than the blue square who keeps itself at 5rem for its width and height no matter what.

                                                    That's all for the CSS box model!</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>


</div>
</div><!--End of Container-->
<script></script>
</body>
</html>