<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Audio</h3>

                        <div class="main_para_node">
                            <p class="main_para">The modern web today is a mature (but still always evolving) platform that allows you to do a lot of interesting things to build the experience you want thanks to newer HTML tags. This includes embedding cool things like audio, video and canvases onto your page.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">To embed an audio file on your page, use the audio tag. This tags has four main attributes, with the most important being the source of your audio file, the src attribute.

                                        You can display a message to the user in case the audio file failed to embed inside the opening and closing tags.The controls attribute displays basic controls like play, pause and volume. The autoplay attribute will make the audio to play automatically.If you would like the audio file to loop endlessly, add the loop attribute.If you would like to provide multiple file formats for the browser to select the best one, you can use the source tag with a src and type attribute, like so:</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Video</h3>

                        <div class="main_para_node">
                            <p class="main_para">Embedding video is actually pretty similar to audio. Use a video tag and give it a src attribute. You have the same attributes available when using the audio tag.

                                In addition, you have the optional width and height attributes to control the size, and the option to mute the video via the mute attribute. If you want to display an image before the video is played, you can do so with the poster attribute.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Canvas</h3>

                        <div class="main_para_node">
                            <p class="main_para">The canvas is an element that you can use to draw graphics, images, graphs, and many other things onto. A canvas, created using the canvas tag, only represents the container for where the graphics will be drawn.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">Up next, miscellaneous tags! You know, the tags that exist but people rarely show love to them. We're going to shed some light on them so that you can make the informed decision to use them or not.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



</div>
</div><!--End of Container-->
<script></script>
</body>
</html>