<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Articles and Sections</h3>

                        <div class="main_para_node">
                            <p class="main_para">Unlike tags like div and span, in this lesson, we'll look at structuring a page using more meaningful HTML tags.You can think of an article as standalone content. Like in articles you might see in a newspaper, articles will ideally contain sections like introductions, the main content, and then perhaps a footer with some closing notes.

                                Let's see an example:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">As you can probably tell, section tags are used to split up the article into smaller, more cohesive parts. section tags act like div tags in that they're both blocks, but section tells the browser that whatever is inside is just a piece of the larger puzzle.

                                        We used section tags for headers and footers, but there are actually tags made specifically for this.
                                        
                                        Header and</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Header and Footer tags</h3>

                        <div class="main_para_node">
                            <p class="main_para">Both tags are pretty straightforward. The header tag defines the header of an article or section, while the footer tag defines the footer.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Asides</h3>

                        <div class="main_para_node">
                            <p class="main_para">If you find yourself wanting to go into a bit of detail about the topic at hand, like for example a quick little snippet, use the aside tag.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Navigation</h3>

                        <div class="main_para_node">
                            <p class="main_para">To more semantically define where your user can find navigation on your site, take advantage of the nav tag. There's not much to them, just surround the links used for navigation with this tag and you're golden.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">As you already know, the modern web is more than just text and images. It is vibrant and offers compelling experiences, largely thanks to its multimedia support. Our next lesson will guide you with embedding your own audio, video and canvases to your page!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>






</div>
</div><!--End of Container-->
<script></script>
</body>
</html>