<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Forms</h3>

                        <div class="main_para_node">
                            <p class="main_para">When you want to collect data from your users, forms in HTML are a great way to accomplish that.
                                The surrounding tag for forms is the form tag. In addition, it will require two attributes, the action attribute and the method attribute.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Action</h3>

                        <div class="main_para_node">
                            <p class="main_para">The action attribute is simply the location that the information from the form is being sent to. The value of this attribute will therefore be a URL of some kind.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Method</h3>

                        <div class="main_para_node">
                            <p class="main_para">The method attribute defines how the form is going to send the information. The two most used values for this attribute is get and post.
                                If you try doing a Google search, and look at the URL at the top afterwards, you will see the text you typed before hitting search. This is an example of get. Using get will make the data inputted in a form get appended to the end of the URL.
                                On the other hand, using post will still send the data like get, but the only main difference is that you will not see it in the URL. Using post is recommended for submissions that require heightened security like passwords and personal information.                          
                                Put it all together, and you get this form:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">While that is a completely valid form, without any way for the user to input or submit data, it is essentially useless on its own. We'll explore the many ways in which you can collect data from the user.

                                        Textarea</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Textarea</h3>

                        <div class="main_para_node">
                            <p class="main_para">Textareas are essentially boxes where you can input text. They support multiple lines of text with optional attributes to control the size of them, the rows and cols attributes.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Select</h3>

                        <div class="main_para_node">
                            <p class="main_para">You know those dropdowns you see when selecting the country you live in? Those are created using select.

                                The select tag is the outermost tag, and inside you can define the options to choose from, using the option tag. Let's look at an example:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Option Groups</h3>

                        <div class="main_para_node">
                            <p class="main_para">If your options feel better if they were grouped together, you can use the optgroup tag, with its accompanying label attribute. Here's a simple example of it:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Input</h3>

                        <div class="main_para_node">
                            <p class="main_para">This tag was left for last because it is arguably the most used tag with forms. The input tag can turn into many different things due to its versatile type attribute. Since this tag doesn't surround any content, it does not require a closing tag.

                                Let's go through all of the main types.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Text</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to text, it will be a single-line textfield. Pretty basic.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Password</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to password, it functions the same as if type is set to text, except that any text inputted will be visually overridden by dots or stars as you would expect when entering a password.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
       

       
        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Checkbox</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to checkbox, it becomes a checkbox that has two states. A checkbox can either be checked and not checked. You have the option to give this a value-less checked attribute, which will set the initial state of the checkbox to be checked.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

      
        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Radio</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to radio, it turns it into a radio button, which is similar to a checkbox except that only one option can be selected in a group of them.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Number</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to number, it turns into a single-line input field where you can select a number. You have optional min and max attributes to constrain the value to a certain range.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>





        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Submit</h3>

                        <div class="main_para_node">
                            <p class="main_para">When type is set to submit, it becomes a button that, when clicked, submits the form to the destination defined in the action attribute. The optional value attribute defines the text displayed on the button.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Button</h3>

                        <div class="main_para_node">
                            <p class="main_para">The last input type in the list above was submit, which is the button the user presses to submit the form. However, there is another way to make a generic button that can do whatever you want (sometimes requiring a little JavaScript).

                                For example, with the button tag, you can easily make a button the resets the form to its initial values by giving it a type attribute with the value of reset.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Required</h3>

                        <div class="main_para_node">
                            <p class="main_para">Required is a pretty cool attribute you can add to any of the aforementioned tags that will make giving it a value required for form submission.

                                For example, if you tried to submit the following form:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">Without giving it a value, the browser will automatically prevent all submission attempts until the user inputs something in the tags given the required attribute.

                                        This is useful for things like account registration where you need a username/email and password to proceed.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Labels</h3>

                        <div class="main_para_node">
                            <p class="main_para">When it comes time to submit the data, there is one last attribute that I left out but is actually needed on all tags where you are collecting data, and that is the name attribute.

                                It's not complicated at all, it is just giving a name to the piece of data. It is as simple as this:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Field sets and legends</h3>

                        <div class="main_para_node">
                            <p class="main_para">What about the case where giving labels to every individual tag doesn't make sense, and instead you want to give a single label to a group of them?

                                Well you can do this with field sets and legends, using the fieldset tag to group them, and the legend tag to label it.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Submitting</h3>

                        <div class="main_para_node">
                            <p class="main_para">Actually submitting the data you have collected and working with it is a story for another day, or in this case, another class.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


</div>
</div><!--End of Container-->
<script></script>
</body>
</html>