<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
        <title>Navy Digital</title>
<style>
  
     
            
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Navy Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">HTML</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                    The web is made up of three major components, HTML, CSS and JavaScript. This class will help you become familiar with the most basic component of them all, HTML.

                                    HTML is the language of the web. It is the building block that is written both to give meaning to the content that is inside, but to also give pages structure.

                                    HTML handles everything from placing images, to the text you see here, to where to load styles and scripts from.
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>
                                    <a id="myBtn" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">HTML is the foundation of the web.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">Selecting a Text Editor</h3>
    
                            <div class="main_para_node">
                                <p class="main_para">
                                        While you can write and edit HTML with any text editor, we highly suggest using the Atom text editor. (Fun fact: the editor is actually written using HTML!) It supports pretty much every operating system and you'll love how simple and pretty it looks. Of course, feel free to use whatever text editor you are already comfortable with.
                                </p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/introhtml.png">
                                        <span class="card-title">Card Title</span>
                                        <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph">
                                                A Simple HTML Document
                                        </p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
        </div>


        <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Hello World</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            Save it as index.html, and make sure you save it with the .html extension instead of  .txt. Navigate to where you saved the file and open it with your browser of choice.
                                            If done correctly, you should see something like this:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/introhtml.png">
                                            <span class="card-title">Card Title</span>
                                            <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
        </div>
    
    
      
    
    
</div>
</div><!--End of Container-->






<script>







</script>
</body>
</html>