<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Veteran Digital</title>
<style>
        
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Veteran Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Tables</h3>

                        <div class="main_para_node">
                            <p class="main_para">Tables in HTML let you organize and arrange data into a set number of rows and columns of cells. They are very useful whenever you want to display tabular data. After all, that's what it was made for in the first place. To create your very first table, use the table tag. Tables use multiple tags to render properly, and they are as follows:
                                table: Surrounds and defines the table's start and end.
                                tr: Stands for a table row. It surrounds a row.
                                th: Stands for a table header.
                                td: Stands for a cell of table data.
                                To get a better idea of how tables work, here is the structure of a simple 3 by 3 table:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">The src attribute in img tags works essentially like the href attribute on a tags. They can have an absolute or relative path. In this case, we are linking to the relative file  cat.png to display.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Row and Column span</h3>

                        <div class="main_para_node">
                            <p class="main_para">There are two optional attributes you can give to your td tags, and they are colspan and rowspan.

                                You can make cells span either multiple rows or multiple columns. This is perhaps better illustrated with an example:</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

       
        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Captions</h3>

                        <div class="main_para_node">
                            <p class="main_para">Tables can have captions, which you can define by using the caption tag right after the  tabletag.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


      
        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">Table Headers and Footers</h3>

                        <div class="main_para_node">
                            <p class="main_para">If your table is particularly large, or you just want a row to be rendered at the top or bottom of the table, you can utilize the thead (for table header) and tfoot (for table footer) tag. However, once you use these tags, you should then also use the tbody tag to define the body of the table.</p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>               
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">That's pretty much it for tables. In our next lesson, we'll cover forms and how to get input from the user.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



</div>
</div><!--End of Container-->
<script></script>
</body>
</html>