<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../content/site.css">
        <link rel="stylesheet" href="../../content/module.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
        <title>Veteran Digital</title>
<style>
       
     
            
</style>
</head>
<body>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Navy Digital</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>
        
       
<div id='outer_container' class="container">
<div id='inner_container' class="main_display">


        <div class="row">
            <div class="col m12 offset-m3">

                <div class="module">
                    <div class="inner_module">

                        <h3 class="title">!DOCTYPE</h3>

                        <div class="main_para_node">
                            <p class="main_para">
                                    Before we dive into HTML, it's important to know what DOCTYPE is. This declaration appears at the very top of every HTML document and it tells the browser that what follows next is HTML 5, as opposed to an earlier version of HTML.

                                    While it is not technically needed, it is good practice to include it, and it looks like this:
                            </p>
                        </div>

                        <div class="tut_display">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/html5.jpg">
                                    <span class="card-title"></span>
                                  
                                </div>
                                <div class="card-content">
                                    <p class="inner_card_paragraph">HTML is the foundation of the web.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <div class="row">
                <div class="col m12 offset-m3">
    
                    <div class="module">
                        <div class="inner_module">
    
                            <h3 class="title">A basic HTML page</h3>
    
                            <div class="main_para_node">
                                <p class="main_para">
                                        Creating a real HTML document requires the use of HTML tags. HTML tags are used to describe and give meaning to whatever content is inside the tag, which gives the page structure.

                                        Let's start with a very basic HTML document.
                                </p>
                            </div>
    
                            <div class="tut_display">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="../images/html5.jpg">
                                        <span class="card-title"></span>
                                    </div>
                                    <div class="card-content">
                                        <p class="inner_card_paragraph">Ignoring the DOCTYPE declaration for a second, you can see that the html tag encompasses the entire document. This tells the browser "hey, everything between these two tags is an HTML document, so please render it".

                                                After that, pretty much every website you browse will then contain two more tags, a head and body tag.</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>



            <div class="row">
                    <div class="col m12 offset-m3">
        
                        <div class="module">
                            <div class="inner_module">
        
                                <h3 class="title">Head tag</h3>
        
                                <div class="main_para_node">
                                    <p class="main_para">
                                            The head tag allows you to add metadeta describing your HTML page. Metadata is data that describes other pieces of data. The metadata you provide is useful for the browser to further understand what your page is about.

                                            Things that are typically included in the head tag include the page title you see at the top, links to any external files like CSS and JavaScript files, a description for the page, adding a favicon, and much more.

                                            Setting the Page Title:
                                    </p>
                                </div>
        
                                <div class="tut_display">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="../images/html5.jpg">
                                            <span class="card-title"></span>
                                        </div>
                                        <div class="card-content">
                                            <p class="inner_card_paragraph">Ignoring the DOCTYPE declaration for a second, you can see that the html tag encompasses the entire document. This tells the browser "hey, everything between these two tags is an HTML document, so please render it".
    
                                                    After that, pretty much every website you browse will then contain two more tags, a head and body tag.</p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>




                <div class="row">
                        <div class="col m12 offset-m3">
            
                            <div class="module">
                                <div class="inner_module">
            
                                    <h3 class="title">Body tag</h3>
            
                                    <div class="main_para_node">
                                        <p class="main_para">
                                                The body tag, on the other hand, is where the content you will see displayed on your screen resides. You need to put anything you want actually rendered on the page between the opening and closing body tags.

                                                In an earlier example here, you saw a header with some text in between. The h1 tag stands for header1, and is reserved for the most important header. There are many others like h2, h3, h4, and so on.
                                        </p>
                                    </div>
            
                                    <div class="tut_display">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="../images/html5.jpg">
                                                <span class="card-title"></span>
                                            </div>
                                            <div class="card-content">
                                                <p class="inner_card_paragraph">Ignoring the DOCTYPE declaration for a second, you can see that the html tag encompasses the entire document. This tells the browser "hey, everything between these two tags is an HTML document, so please render it".
        
                                                        After that, pretty much every website you browse will then contain two more tags, a head and body tag.</p>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
            
                        </div>
                    </div>
      



                    <div class="row">
                            <div class="col m12 offset-m3">
                
                                <div class="module">
                                    <div class="inner_module">
                
                                        <h3 class="title">Tags</h3>
                
                                        <div class="main_para_node">
                                            <p class="main_para">
                                                    Using most HTML tags require an opening tag and a closing tag, with whatever is in between the tags being the content. Closing tags have a slash right before the name of the tag, while opening ones don't.
                                            </p>
                                        </div>
                
                                        <div class="tut_display">
                                            <div class="card">
                                                <div class="card-image">
                                                    <img src="../images/html5.jpg">
                                                    <span class="card-title"></span>
                                                </div>
                                                <div class="card-content">
                                                    <p class="inner_card_paragraph">There are, however, tags that do not need a closing tag, and can close themselves (self-enclosing). Self-enclosing tags are cases where there is no content in between.</p>
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                        </div>

      
                        <div class="row">
                                <div class="col m12 offset-m3">
                    
                                    <div class="module">
                                        <div class="inner_module">
                    
                                            <h3 class="title">Elements</h3>
                    
                                            <div class="main_para_node">
                                                <p class="main_para">
                                                        So you already know what tags are, so what's an element? The difference between the two is simpler than you think. In the case of:
                                                </p>
                                            </div>
                    
                                            <div class="tut_display">
                                                <div class="card">
                                                    <div class="card-image">
                                                        <img src="../images/html5.jpg">
                                                        <span class="card-title"></span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="inner_card_paragraph">Simple, right? This will become an important distinction as you become more familiar with HTML. A tag is what surrounds content but the tags plus the content inside is an element.</p>
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                    
                                </div>
                            </div>



                             <div class="row">
                                <div class="col m12 offset-m3">
                    
                                    <div class="module">
                                        <div class="inner_module">
                    
                                            <h3 class="title">Attributes</h3>
                    
                                            <div class="main_para_node">
                                                <p class="main_para">
                                                        In addition to tags, HTML has another way of helping you give meaning to your content. Say hello to attributes.

                                                        Attributes describe the tags that they are placed inside of. The syntax for attributes is extremely simple.
                                                </p>
                                            </div>
                    
                                            <div class="tut_display">
                                                <div class="card">
                                                    <div class="card-image">
                                                        <img src="../images/html5.jpg">
                                                        <span class="card-title"></span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="inner_card_paragraph">In this example, class is the attribute, and special is the value. Attributes describe tags because now this h1 tag might act or look differently than another h1 tag with another class attribute, or no class attribute at all.

                                                                The following is a generic example of how an attribute with a value can be applied to a tag.</p>
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                    
                                </div>
                            </div>



                            <div class="row">
                                    <div class="col m12 offset-m3">
                        
                                        <div class="module">
                                            <div class="inner_module">
                        
                                                <h3 class="title">Class</h3>
                        
                                                <div class="main_para_node">
                                                    <p class="main_para">
                                                            class is an important attribute in HTML. It can be applied to pretty much every tag, which then makes it easy to apply styles to with CSS. The value of this attribute can be repeated as many times as you want, for example, like this:
                                                    </p>
                                                </div>
                        
                                                <div class="tut_display">
                                                    <div class="card">
                                                        <div class="card-image">
                                                            <img src="../images/html5.jpg">
                                                            <span class="card-title"></span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="inner_card_paragraph"></p>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>



                                <div class="row">
                                        <div class="col m12 offset-m3">
                            
                                            <div class="module">
                                                <div class="inner_module">
                            
                                                    <h3 class="title">ID</h3>
                            
                                                    <div class="main_para_node">
                                                        <p class="main_para">
                                                                Another important attribute in HTML is id. On a valid HTML page, the values of this attribute must all be unique. For example, if you give a tag an ID of first, no other tag may have that same ID.
                                                        </p>
                                                    </div>
                            
                                                    <div class="tut_display">
                                                        <div class="card">
                                                            <div class="card-image">
                                                                <img src="../images/html5.jpg">
                                                                <span class="card-title"></span>
                                                            </div>
                                                            <div class="card-content">
                                                                <p class="inner_card_paragraph">Now that you're more familiar with HTML tags, attributes and elements, let's dive more into working with content in our next lesson!</p>
                                                            </div>
                                                        </div>
                                                    </div>
                            
                                                </div>
                                            </div>
                            
                                        </div>
                                    </div>
    
    
      
    
    
</div>
</div><!--End of Container-->






<script>
</script>
</body>
</html>